@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService

<HeadContent>
    <RadzenTheme Theme="standard" />
</HeadContent>

<RadzenLayout>
    <AuthorizeView>
        <main>
            @Body
        </main>
    </AuthorizeView>
</RadzenLayout>