@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <CascadingValue Value="@_GlobalMsgHandler">
            <MessageSnackbar @ref=_GlobalMsgHandler />
            <PresalesApp.Web.Client.Views.LayoutHeader />
            <AuthorizeView>
                <Authorized>
                    <article class="content px-4">
                        @Body
                    </article>
                </Authorized>
                <NotAuthorized>
                    <article class="content px-4">
                        <PresalesApp.Web.Client.Pages.Index />
                    </article>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingValue>
    </main>
</div>