.chart {
    width: 75%;
}

.percent {
    position: absolute;
    font-size: 4em;
    font-weight: bold;
    bottom: 1em;
    margin: 2% 5%;
}

.left {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    bottom: 0;
}

.delta {
    position: absolute;
    font-size: 3.5em;
    font-weight: bold;
}

.pie {
    width: 95%;
    margin-top: 30px;
    margin-left: 5%;
}

.dashboard {
    display: flex;
}

.legend {
    text-align: center;
    display: inline-block;
}