@page "/testpage"
@using PresalesApp.Bridge1C;
@inject Greeter.GreeterClient GreeterClient;

<div>
    <button class="btn btn-primary" @onclick="DoSomething">Say Hello</button>
    @if (reply != null)
    {
        <p>@reply?.Message</p>
    }
</div>

@code {
    private HelloReply? reply;

    private async Task UpdateData()
    {
        reply = await GreeterClient.SayHelloAsync(
            request: new HelloRequest()
            {
                Name = "Иван"
            });

        StateHasChanged();
    }

    private async void DoSomething()
    {
        await UpdateData();
    }
}
