<div class="warning content" style="display: @_Display">
    <h2 class="glitch layers" data-text="@($"{Message}\n{_TimeLeft}")">
        <span>@Message</span>
        <span>@_TimeLeft</span>
    </h2>
</div>