.layout-header {
    width: 100%;
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    --rz-gap: 0.5rem;
    gap: var(--rz-gap);
    align-items: center;
    margin-inline-end: var(--rz-sidebar-toggle-margin-inline-end);
}
