@using System.Reflection

<div class="layout-header">
    <RadzenLabel Text="@($"v. {Assembly.GetEntryAssembly()?.GetName().Version}")"
                 Style="margin-right: auto;" />
    <Profile />
    <RadzenButton Text="@(Localization["SuggestImprovementsButtonText"])"
                  Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Icon="prompt_suggestion"
                  Click=@(async () => await _JsRuntime.InvokeVoidAsync("open",
                      "https://git.127.0.0.1/polyakov/PresalesApp/issues/new", "_blank"))>
    </RadzenButton>
    <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Icon="settings"
                  Click="@(args => _OpenAppSettings())" />
    <RadzenAppearanceToggle />
</div>