<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresalesApp.Database.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresalesApp.Database.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PresalesApp.Database.Settings>
      <setting name="Host" serializeAs="String">
          <value>localhost</value>
      </setting>
      <setting name="Port" serializeAs="String">
          <value>5433</value>
      </setting>
      <setting name="Database" serializeAs="String">
          <value>presalesapp</value>
      </setting>
      <setting name="Username" serializeAs="String">
          <value>presale</value>
      </setting>
      <setting name="Password" serializeAs="String">
          <value>***REMOVED***</value>
      </setting>
  </PresalesApp.Database.Settings>
    </userSettings>
    <applicationSettings>
        <PresalesApp.Database.Settings>
            <setting name="Issuer" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="Audience" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>"someLongLongVeryVerySecretKey"</value>
            </setting>
            <setting name="Expiry" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
        </PresalesApp.Database.Settings>
    </applicationSettings>
</configuration>