html, body * {
    scrollbar-color: #bfbfbf transparent;
    scrollbar-width: thin;
}

/*
input {
    accent-color: #212529;
}
*/

a {
    color: var(--rz-text-color);
}

.rz-dropdown {
    cursor: pointer;
}