@using System.Globalization
@using Enum = System.Enum

<select value="@CultureInfo.CurrentCulture" @onchange="((ChangeEventArgs e) => OnChanged(e?.Value))" class="form-select form-select-combobox ">
    @foreach (CultureInfo culture in _supportedCultures)
    {
        <option value="@culture">@culture.NativeName</option>
    }
</select>