@using Enum = System.Enum
@using PresalesApp.Shared

@code {
    // TODO: Use RadzenDropDown instead.
}
<select title="Направление" value="@Department" @onchange="_OnDepartmentChanged"
        class="form-select form-select-combobox">
    <option selected="@Department"></option>
    @foreach (Department dep in Enum.GetValues(typeof(Department)))
    {
        <option value="@dep">@dep.GetLocalizedName(Localization)</option>
    }
</select>