@using Enum = System.Enum
@using PresalesApp.Shared

@code {
    // TODO: Use RadzenDropDown instead.
}
<select title="Тип расчёта" value="@KpiCalculationType" @onchange="_OnPositionChanged"
        class="form-select form-select-combobox">
    <option selected="@KpiCalculationType"></option>
    @foreach (KpiCalculation type in Enum.GetValues(typeof(KpiCalculation)))
    {
        <option value="@type">@type.GetLocalizedName(Localization)</option>
    }
</select>