@using Enum = System.Enum
@using Position = PresalesApp.Web.Shared.Position

<select title="Должность" value="@Position" @onchange="OnPositionChanged" class="form-select form-select-combobox">
    <option selected="@Position"></option>
    @foreach (Position pos in Enum.GetValues(typeof(Position)))
    {
        <option value="@pos">@pos.GetLocalizedName(Localization)</option>
    }
</select>