.layout {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: calc(100vw * 9/16);
    position: absolute;
    overflow: hidden;
}

.aeration-warning {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 35;
    z-index: 100;
    filter: drop-shadow(0 1px 8px);
}

.aeration-warning h2 {
    font-size: calc(16vw * 9/16);
    color: crimson;
    text-align: center;
}

.profit-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}

.profit-progress, .profit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: calc(3vw * 9/16);
}

fieldset {
    padding: 3px 6px;
    /* border: 1px solid #000; */
    margin: 0 10px;
    display: flex;
    align-items: center;
    width: 70%;
}

fieldset p, .percent p {
    margin: auto;
}

legend {
    display: flex;
    float: none;
    width: auto;
    padding: inherit;
    margin: inherit;
    font-size: calc(2vw * 9/16);
}

.fs-content-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}

.fs-content {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: calc(6vw * 9/16);
    font-weight: bold;
    padding-top: 5px;
}

.fs-desc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: gray;
    font-size: calc(2vw * 9/16);
    display: flex;
    justify-content: end;
    align-items: start;
}

.fs-desc p {
    margin: 0;
}

.percent {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.day-profit {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}

.chart {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 22;
}

.allocation {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 22;
    grid-row-end: 37;
    display: block;
    padding: 5px;
}

.img-container {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 35;
}

.img-container img {
    height: 100%;
}

.img-credits, .allocation {
    font-size: calc(1.8vw * 9/16);
}

.img-keyword input {
    background: none;
    border: none;
    text-align: center;
    font-size: calc(1.5vw * 9/16);
    padding: 0;
}

.img-credits {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 35;
    grid-row-end: 36;
}

.img-credits p {
    margin: 0;
}

.img-keyword {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 36;
    grid-row-end: 37;
}

::deep .pnyd-footer {
    text-align: right;
    font-size: inherit !important;
}

::deep .pnyd-progress {
    padding-left: 0;
}

::deep .allocation .rz-column-title {
    padding-right: 16px;
}

::deep .allocation .rz-grid-table thead th .rz-column-title,
::deep .allocation .rz-grid-table td .rz-cell-data {
    line-height: calc(100vw * 9/16 / 40);
}

::deep .allocation .rz-grid-table thead th > div:not(.rz-cell-filter),
::deep .allocation .rz-grid-table td {
    padding-top: calc(100vw * 9/16 / 80);
    padding-bottom: calc(100vw * 9/16 / 80);
}