.chart {
    width: 68%;
    position: relative;
}

.percent {
    position: absolute;
    font-size: 4em;
    font-weight: bold;
    bottom: 1em;
    margin: 3% 5%;
}

.left {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    bottom: 0;
    margin-left: 1%;
}

.delta {
    position: absolute;
    font-size: 3.5em;
    font-weight: bold;
    padding-left: 1%;
}

.pie {
    height: 100%;
    margin: 0 20%;
}

.dashboard {
    display: flex;
}

.legend {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}

.legend div {
    display: inline-block;
    margin: 0 5px;
}


.legend div div {
    width: 25px;
    height: 10px;
    display: inline-block;
}

.legend div p {
    display: inline-block;
    margin: 0;
}

.timer {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5em;
}

.img-container {
    width: 32%;
    display: grid;
}

.img-container img {
    width: 100%;
    padding: 5% 5% 0 5%;
}

.img-container div {
    text-align: center;
}

.img-container p {
    margin: 0;
}

.img-container input {
    background: none;
    border: none;
    text-align: center;
}

.delta-container {
    position: relative;
}