.overview {
    display: grid;
    font-size: 1.5em;
    font-family: "Fjalla One rev=1";
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 6fr;
    z-index: -1;
}

.chart {
    display: flex;
}

.charts, .top {
    display: flex;
    align-items: center;
}

.charts {
    width: 40%;
    z-index: -1;
}

.top {
    width: 60%;
}

.buble {
    position: absolute;
    left: -10%;
    width: 60%;
}


.top table {
    width: 100%;
    font-size: 1.5em;
}

.top table tr:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em;
}


.top table tr:nth-child(2) {
    font-size: 1.1em;
}

.top table tr td:nth-child(1) {
    width: 4%;
    padding-right: 5px;
}

.top table tr td:nth-child(1) div {
    height: 10px
}

.legend {
    display: flex;
    font-size: 0.8em;
    margin-top: 1%;
}

fieldset {
    padding: 3px 6px;
    border: 1px solid #000;
    margin: 0 10px;
    width: 25%;
    display: flex;
    align-items: center;
}

fieldset p, .percent p {
    margin: auto;
    font-size: 1.7em;
}

legend {
    float: none;
    width: auto;
    padding: inherit;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.percent {
    display: flex;
    align-items: center;
    position: absolute;
    left: -10%;
}

.leaderboard {
    width: 100%;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.leaderboard legend {
    margin-left: 10%;
}

.params, .params div {
    height: 50px;
    padding: 5px;
}

.params div {
    background: white;
    border: 1px solid;
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
}

.hide, .error_hide {
    display: none;
}

.params:hover .hide {
    display: block;
}

.rotatePin {
    transform: rotate(0.15turn);
}

.error {
    background: red;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px rgb(255 0 0 / 20%);
}

.error p {
    margin: 0;
}