@if (presales == null)
{
    <em>Loading...</em>
}
else
{
    <label>@Localization["PresaleNameText"]:</label>
    <select value="@selectedName" @onchange="((ChangeEventArgs e) => OnPresaleChanged(e?.Value))" class="form-select form-select-combobox">
        <option selected=""></option>
        @foreach (var name in presales.Names)
        {
            <option value="@name">@name.GetFirstAndLastName()</option>
        }
    </select>
}