@using System.Globalization

<select id="year" value="@year" @onchange="((ChangeEventArgs e) => OnYearChanged(e?.Value))" class="form-select form-select-combobox">
    @for (int y = 2015; y <= DateTime.Now.Year; y++)
    {
        <option value="@y">@y</option>
    }
</select>

@code {
    private int year = DateTime.Now.Year;

    private void OnYearChanged(object? obj)
    {
        if (int.TryParse(obj?.ToString(), out year))
            OnSelectCallback.InvokeAsync(year);
    }

    [Parameter]
    public EventCallback<int> OnSelectCallback { get; set; }
}
