@using Enum = System.Enum
@using Position = PresalesApp.Web.Shared.Position

<select title="Должность" value="@position" @onchange="((ChangeEventArgs e) => OnPositionChanged(e?.Value))" class="form-select form-select-combobox">
    @foreach (Position pos in Enum.GetValues(typeof(Position)))
    {
        <option value="@pos">@pos.GetLocalizedName(Localization)</option>
    }
</select>