@using PresalesApp.Web.Client.Helpers
@using Position = PresalesApp.Web.Shared.Position

<select title="Должность" value="@position" @onchange="((ChangeEventArgs e) => OnPositionChanged(e?.Value))" class="form-select form-select-combobox">
    @foreach (Position pos in Enum.GetValues(typeof(Position)))
    {
        <option value="@pos">@pos.GetName()</option>
    }
</select>

@code {
    private Position position = Position.Any;

    private void OnPositionChanged(object? obj)
    {
        if (Enum.TryParse<Position>(obj?.ToString(), out position))
            OnSelectCallback.InvokeAsync(position);
    }

    [Parameter]
    public EventCallback<Position> OnSelectCallback { get; set; }
}
