@using Enum = System.Enum

<select title="Направление" value="@department" @onchange="((ChangeEventArgs e) => OnDepartmentChanged(e?.Value))" class="form-select form-select-combobox">
    @foreach (Department dep in Enum.GetValues(typeof(Department)))
    {
        <option value="@dep">@dep.GetLocalizedName(Localization)</option>
    }
</select>

@code {
    private Department department = Department.Any;

    private void OnDepartmentChanged(object? obj)
    {
        if (Enum.TryParse<Department>(obj?.ToString(), out department))
            OnSelectCallback.InvokeAsync(department);
    }

    [Parameter]
    public EventCallback<Department> OnSelectCallback { get; set; }
}
