<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresalesApp.Web.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PresalesApp.Web.Client.Settings>
            <setting name="Bridge1CAddress" serializeAs="String">
                <value>https://localhost:33443</value>
            </setting>
            <setting name="LocalizationPath" serializeAs="String">
                <value>Localization</value>
            </setting>
            <setting name="StorageCultureKey" serializeAs="String">
                <value>lang_culture</value>
            </setting>
        </PresalesApp.Web.Client.Settings>
    </applicationSettings>
</configuration>