<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresalesApp.Web.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PresalesApp.Web.Client.Settings>
            <setting name="Bridge1CAddress" serializeAs="String">
                <value>https://localhost:33443</value>
            </setting>
            <setting name="LocalizationPath" serializeAs="String">
                <value>Localization</value>
            </setting>
            <setting name="StorageCultureKey" serializeAs="String">
                <value>lang_culture</value>
            </setting>
        </PresalesApp.Web.Client.Settings>
    </userSettings>
</configuration>