@using PresalesMonitor.Shared;
@using Google.Protobuf.WellKnownTypes;
@inject Presales.PresalesClient PresalesClient

@if (presales == null)
{
    <em>Loading...</em>
}
else
{
    <label>Пресейл:</label>
    <select value="@selectedName" @onchange="((ChangeEventArgs e) => OnPresaleChanged(e?.Value))" class="form-select">
        <option selected=""></option>
        @foreach (var name in presales.Names)
        {
            <option value="@name">@name</option>
        }
    </select>
}

@code {
    private NamesResponse? presales;
    private string selectedName = string.Empty;

    protected override async Task OnInitializedAsync() => presales = await PresalesClient.GetNamesAsync(new Empty());
    private void OnPresaleChanged(object? obj)
    {
        selectedName = obj?.ToString() ?? string.Empty;
        OnSelectCallback.InvokeAsync(selectedName);
    }

    [Parameter]
    public EventCallback<string> OnSelectCallback { get; set; }
}
