@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width: 80px">
        <NavMenu />
    </div>

    <main>
        <div>
            @Body
        </div>
    </main>
</div>
